# SPDX-FileCopyrightText: (C) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
name: Notify Teams

on:  # yamllint disable-line rule:truthy
  workflow_call:
    secrets:
      MSTEAMS_WEBHOOK:
        required: true

permissions:
  contents: read

jobs:
  notify:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Notify Microsoft Teams
        uses: skitionek/notify-microsoft-teams@0953822ab410e9a50e2abd2d6d8f85230b1ae4d6  # v1.1.0
        if: always()
        with:
          webhook_url: ${{ secrets.MSTEAMS_WEBHOOK }}
          raw: >-
              {
                "title": "Failure on ${{ github.repository }}",
                "summary": "Failure on ${{ github.workflow }}",
                "sections": [
                  {
                    "activityTitle": "Failure on ${{ github.workflow }}",
                    "activitySubtitle": "",
                    "activityImage": "https://raw.githubusercontent.com/Skitionek/notify-microsoft-teams/master/icons/failure.png"
                  }
                ],
                "potentialAction": [
                  {
                    "@type": "OpenUri",
                    "name": "Go to failure",
                    "targets": [
                      {
                        "os": "default",
                        "uri": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                      }
                    ]
                  }
                ]
              }
