---
# SPDX-FileCopyrightText: (C) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Post-Merge CI Pipeline

on:   # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  workflow_dispatch:

# Global minimal permissions
permissions:
  contents: read   # default minimal permission
  security-events: none
  id-token: none

jobs:
  post-merge:
    if: github.ref == 'refs/heads/main'  # only run on main
    permissions:
      contents: read
      security-events: write   # only this job can write security events
      id-token: write          # only if absolutely required
    uses: open-edge-platform/orch-ci/.github/workflows/post-merge.yml@c8c1792b4f2e2934ffc459bb1b981bc26ddaa39a  # 2026.0.12
    with:
      run_build: false
      run_version_check: false
      run_dep_version_check: false
      run_version_tag: true
      run_docker_build: false
      run_docker_push: false
      run_helm_build: false
      run_helm_push: false
      run_version_dev: true
    secrets:
      SYS_EMF_GH_TOKEN: ${{ secrets.SYS_EMF_GH_TOKEN }}
      MSTEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}
