# SPDX-FileCopyrightText: (C) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---

name: Post-Merge CI Pipeline
permissions:
  contents: read

on:   # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  post-merge:
    permissions:
      contents: read
      security-events: write
      id-token: write
    uses: open-edge-platform/orch-ci/.github/workflows/post-merge.yml@bf9e5134acea5475e4f0ea7dcfa77a97d309f773  # 2026.0.9
    with:
      run_build: false
      run_version_check: false
      run_dep_version_check: false
      run_version_tag: true
      run_docker_build: false
      run_docker_push: false
      run_helm_build: false
      run_helm_push: false
      run_version_dev: true
    secrets:
      SYS_EMF_GH_TOKEN: ${{ secrets.SYS_EMF_GH_TOKEN }}
      MSTEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}
