# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
name: Post-Merge CI Pipeline

on:   # yamllint disable-line rule:truthy
  push:
    branches:
      - main
      - ossf
  workflow_dispatch:

jobs:
  post-merge:
    uses: open-edge-platform/orch-ci/.github/workflows/post-merge.yml@main
    with:
      run_build: false
      run_version_check: false
      run_dep_version_check: false
      run_version_tag: true
      run_docker_build: false
      run_docker_push: false
      run_helm_build: false
      run_helm_push: false
    secrets: inherit
