# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---

name: Pre-Merge CI Pipeline
permissions:
  contents: read

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  pre-merge:
    permissions:
      contents: read
    uses: open-edge-platform/orch-ci/.github/workflows/pre-merge.yml@3f2ae03a1c8061c4b9b51046952616429beebaca  # 2026.0.7
    with:
      run_version_check: true
      run_dep_version_check: false
      run_build: false
      run_lint: true
      run_test: false
      run_validate_clean_folder: false
      run_docker_build: false
      bootstrap_tools: "go,gotools,nodejs"
      trivy_config_path: trivy.yaml
