# SPDX-FileCopyrightText: (C) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---

name: Security Scans Orch-CI
permissions:
  contents: read

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  security-scans:
    permissions:
      contents: read
    uses: open-edge-platform/orch-ci/.github/workflows/security-scans.yml@469bf645b96617f15afcc6b38fbcbbf21b76afac
    with:
      run_lint: true
      trivy_config_path: trivy.yaml