---
# SPDX-FileCopyrightText: (C) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# yamllint disable rule:line-length

name: Security Scans Orch-CI

permissions:
  contents: read
  security-events: write

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  security-scans:
    uses: open-edge-platform/orch-ci/.github/workflows/security-scans.yml@c86f36c43c07ca8097dfd443185cc54a7d32e725
    with:
      run_lint: true
      trivy_config_path: trivy.yaml
      run_security_scans: true
      pre_merge_scan: true
      post_merge_scan: true
      images: '["080137407410.dkr.ecr.us-west-2.amazonaws.com/edge-orch/orch-ui/infra:4.0.1-dev"]'
