---
# SPDX-FileCopyrightText: (C) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# yamllint disable rule:line-length

name: Security Scans Orch-CI

permissions:
  contents: read   # global least privilege
  security-events: none  # remove global write access

on:   # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  security-scans:
    permissions:
      security-events: write   # only this job can write security events
      contents: read           # minimal additional permission
    uses: open-edge-platform/orch-ci/.github/workflows/security-scans.yml@0d87105b01c38f6e9aa373871337b8b836237b19  # v2026.0.12
    with:
      run_lint: true
      trivy_config_path: trivy.yaml
      run_security_scans: true
      pre_merge_scan: true
      post_merge_scan: true
